<% include ../partials/header %>

<h1>create a new location</h1>


<form action="/locations" method="POST">
    <input type="text" name="name" placeholder="name">
    <input type="text" name="image" placeholder="image url">
    <input type="text" name="description" placeholder="description">
    <input type="text" name="thingsTitleOne" placeholder="thingsTitleOne">
    <input type="text" name="thingsTitleTwo" placeholder="thingsTitleTwo">
    <input type="text" name="thingsTitleThree" placeholder="thingsTitleThree">
    <input type="text" name="thingsDescriptionOne" placeholder="thingsDescriptionOne">
    <input type="text" name="thingsDescriptionTwo" placeholder="thingsDescriptionTwo">
    <input type="text" name="thingsDescriptionThree" placeholder="thingsDescriptionThree">
    <input type="text" name="thingsPicOne" placeholder="thingsPicOne">
    <input type="text" name="thingsPicTwo" placeholder="thingsPicTwo">
    <input type="text" name="thingsPicThree" placeholder="thingsPicThree">
    <button>submit!</button>


    <a href="/locations">go back</a>

</form>

<% include ../partials/footer %>