<% include partials/header %>



<header class="jumbotron">
    <h1 class="ml-5">Welcome to Sakura Journey</h1>
    <p class="lead ml-2">This website is dedicated to anyone who is planning to visit Japan and is looking to have easy
        access to information we have gathered from 6 major cities, as well as some exciting things to do in each of
        those cities, some accommodation choices and of course what national events Japan has to offer.

        While browsing we also hope you get a glimpse into some of Japan’s rich culture and history.

        The cities we selected are Hiroshima, Kyoto, Sapporo, Sendai, Tokyo and Yokohama as we felt that these are
        probably the most popular and interesting choices.</p>
    <hr class="my-4">
    <p class="lead text-right">Please feel free to add comments.

        We sincerely hope you enjoy everything this website has to offer as much as we enjoyed making it.</p>
</header>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <img src="https://images.unsplash.com/photo-1534214526114-0ea4d47b04f2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=60"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Cities</h5>
                    <p class="card-text">Theres alot of exciting place to visit in Japan!!</p>
                    <a href="/locations" class="btn btn-primary">Find Out More</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="https://images.unsplash.com/photo-1493479874819-4303c36fa0f9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=60"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Events</h5>
                    <p class="card-text">Unique events that happen in Japan!!</p>
                    <a href="/events" class="btn btn-primary">Find Out More</a>
                </div>
            </div>
        </div>
    </div>
</div>






<% include partials/footer %>